<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732122146405-3ohl1a63ci3c0v90gialpa7id0nik2e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732122146405-3ohl1a63ci3c0v90gialpa7id0nik2e3</string>
	<key>API_KEY</key>
	<string>AIzaSyAldwke9_xW5azNWf4LoAM9J7xXoZzd3Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>732122146405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduk</string>
	<key>PROJECT_ID</key>
	<string>eduk-54bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>eduk-54bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732122146405:ios:5ab86020443a51b701088c</string>
</dict>
</plist>